
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

#theme-toggle {
    position: sticky;
    top: 0;
    left: 20px;
    padding: 10px;
}
/* --------------------------------- */

.header {
    margin-top: 40px;
    margin-bottom: 50px;
}

.page-header-title {
    font-size: 80px;
    line-height: 94px;
    font-weight: 400;
    margin: 63px 0 40px 98px;
}

.header-title-link {
    color: #000000;
    text-decoration: none;
}

.header-title-item {
    color: #4bcaff;
}

/*.light .header-title-link {*/
/*    color: #000000;*/
/*}*/

.dark .header-title-link {
    color: #ffffff;
}


.header-menu {
    height: 70px;
}

.header-menu-list {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444f;
}

.header-menu-item {
    height: 70px;
    border-right: 2px solid #ffffff;
}

.header-menu-item:first-child {
    border-left: 2px solid #ffffff;
}

.header-menu-item:hover {
    background-color: #222f3a;
}

.header-menu-link {
    display: inline-block;
    margin: 25px 50px;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
}
/*----------------------------------------  */

.main-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-nav-content {
    width: 344px;
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
}

.main-nav-item {
    display: block;
    text-align: start;
    padding: 26px 25px;
}

.main-nav-item:hover {
    display: block;
    text-align: center;
    background-color: #dbdbdb;
    padding-right: 85px;
}

.main-nav-link {
    color: #495863;
    text-align: center;
    font-size: 27px;
    line-height: 27px;
}

.dark .main-nav-link {
    color: #4bcaff;
}

.main-nav-link:hover {
    color: #000000;
}

.main-content-ram {
    border: 1px solid black;
    overflow: hidden;
}

.main-content-ram img {
    transition: 1s;
    display: block;
}
.main-content-ram img:hover {
    transform: scale(1.2);
}

.main-content-text {
    margin-left: 395px;
    font-size: 18px;
    line-height: 24px;
}
/*======================================  */

.footer-menu {
    margin-top: 54px;
    margin-bottom: 30px;
}

.footer-nav-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 69px;
    filter: grayscale(48%);
    background: rgba(99, 105, 110, 0.48);
}

.footer-nav-link {
    color: #0c1927;
    font-size: 28px;
    line-height: 28px;
}

.copyright {
    padding-left: 135px;
    font-size: 24px;
    line-height: 24px;
}

.footer-nav-link:hover {
    color: #3181a6;
    padding-bottom: 12px;
    border-bottom: 1px solid #3181a6;
}

.light {
    background-color: #fff;
    color: #000;
}

.dark {
    background-color: #000;
    color: #fff;
}
